.card {
  margin: 0;
  background-color: #e5e5e5;  
  display: flex;  
  flex-wrap: wrap;
}

header {
  background-color: #6002EE;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 10px;
  margin-bottom: 20px;
}

nav {
  background: width;
  padding-top: 20px;
  width: 60px;
  height: 200px;
  display: flex;
}

.card__today {
  border-style: 1px solid black;
  display: flex;
  width: 610px;
  height: 270px;
}

.card__today-side--left {
  width: 300px;
  height: 200px;
  border-style: 1px solid black;
  background-color: pink;
  margin-right: 5px;
  margin-bottom: 70px;
}

.card__today-side--right {
  width: 305px;
  height: 200px;
  border-style: 1px solid black;
  background-color: green;
}

.card__past-week {
  border-style: 1px solid red;
  display: flex;
  width: 610px;
}

.card__past-week-side--left {
  width: 300px;
  height: 200px;
  border-style: 1px solid black;
  background-color: yellow;
  margin-right: 5px;
}

.card__past-week-side--center {
  width: 150px;
  height: 200px;
  border-style: 1px solid black;
  background-color: blue;
  margin-right: 5px;
}

.card__past-week-side--right {
  width: 150px;
  height: 200px;
  border-style: 1px solid black;
  background-color: red;
}